.app-root{
  display: flex;
}
.func-root {
  padding: 2rem;
  width: 50vw;
  height: 100vh;
}

.todo-container{
  padding: 2rem;
  width: 50vw;
  height: 100vh;
  margin-left: 3rem;
  border-right: 1px solid black;
}

.todo-input{
  margin-left: 1rem;
  width: 10rem;
  height: 2rem;
  border: 2px solid black;
}

.todo-button{
  margin-left: 1rem;
  width: 5rem;
  height: 2rem;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
}

.todo-item-title{
  width: 15rem;
  margin-top: 0;
  margin-bottom: 0;
}

.todo-completed {
  text-decoration: line-through;
}
