.todo-container{
  margin-left: 3rem;
}

.todo-input{
  margin-left: 1rem;
  width: 10rem;
  height: 2rem;
  border: 2px solid black;
}

.todo-button{
  margin-left: 1rem;
  width: 5rem;
  height: 2rem;
}